#location {
  padding: 0 50px 0 70px;
  font-size: 60px;
  font-family: "Righteous", cursive;
}

#current-date {
  font-size: 20px;
  padding: 0 50px 0 70px;
  font-family: "Righteous", cursive;
}

#current-time {
  font-size: 20px;
  padding: 0 50px 0 70px;
}
